{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}
{% block content %}
<main class="index-main">
  <h1>로그인</h1>

<form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="로그인">
</form>

<a href="{% url "accounts:findid" %}">아이디 찾기</a>
<a href="{% url "accounts:password_reset" %}">비밀번호 찾기</a>
{% comment %} <a href="{% url "accounts:email" %}">이메일 테스트</a> {% endcomment %}



</main>
{% endblock content %}
{% block js %}{% endblock js %}
