{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}
{% block content %}
<main class="index-main">
  <h1>마이 페이지</h1>
  <p><b>♡환영합니다♡</b></p>
  {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="user profile image" style="width:300px; object-fit:cover;">
  {% else %}
    <img src="{% static "img/dotori_logo.png" %}" alt="user default image" style="width:300px; object-fit:cover;">
  {% endif %}
  <p>{{ user.nickname }}</p>
  <ul>
    <li>
        <a href="{% url 'accounts:update' user.username %}">회원정보 변경</a>
    </li>
    <li>
        <a href="{% url 'accounts:delete' user.username %}">회원탈퇴</a>
    </li>
  </ul>
</main>
{% endblock content %}
{% block js %}{% endblock js %}
