{% extends "base.html" %}
{% load static %}

{% block title %}
노트 수정
{% endblock title %}

{% block content %}
<h1>노트 수정</h1>
<form action="{% url 'diaries:edit_note' diary.pk note.pk %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <div>
    <label for="image">이미지 업로드 (최대 10개)</label>
    {{ formset.management_form }}
    {% for form in formset %}
      <div>
        {{ form.image.label }} {{ form.image }}  <!-- 각 이미지 필드 렌더링 -->
      </div>
    {% endfor %}
  </div>

  <button type="submit">수정 완료</button>
</form>
<a href="{% url 'diaries:note_detail' diary.pk note.pk %}">취소</a>
{% endblock content %}

{% block js %}
{% if messages %}
<script>
  {% for message in messages %}
    alert("{{ message }}");
  {% endfor %}
</script>
{% endif %}
{% endblock js %}
