h1 {
  margin-inline-start: auto;
  padding-top: 100px;
}

.notes {
    list-style-type: none;
}

.notes-main {
  display: flex;
}

.notes-main,
.notes-comment {
  margin: 30px;
  text-align: center;
  height: 650px;
}

.notes-comment {
  width: 100%;
  min-width: 600px;
  padding: 10px;
  overflow-y: scroll;
}

.note-date {
  font-weight: bold;
}

/* pagination */
.pagination-container {
  text-align: center; 
  margin: 20px 0;
}

.pagination {
  display: inline-block;
}

.step-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.step-links a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}

/* comment */
.notes-comment {
  text-align: left;
}

.notes-comment ul {
  list-style-type: none; 
  padding: 0; 
}

.notes-comment li {
  margin-bottom: 10px;
}

.notes-comment form {
  display: flex; 
  align-items: center;
  margin-top: 10px; 
}

.notes-comment input[type="text"] {
  flex: 1; 
  margin-right: 5px; 
}

/* image */
.image-slider {
  display: flex;
  overflow: hidden; 
  width: 100%;   
  height: auto; 
  position: relative;
}

.slide {
  min-width: 100%; 
  transition: transform 0.5s ease;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.note-picture img {
  width: 250px;
  height: 250px;
  /* object-fit: cover; */
  /* object-fit: scale-down; */
  object-fit: contain;
}

.button-container {
  text-align: center; /* 버튼을 가운데 정렬 */
  /* margin-top: 10px; 버튼과 이미지 간의 간격 조정 */
}

.button-container button {
  margin: 0 5px; /* 버튼 간의 간격 조정 */
  padding: 5px 10px; /* 버튼 패딩 조정 */
}

.note-content{
  margin-top: 50px;
}
