{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/myfriends.css' %}">
{% endblock styles %}
{% block content %}
<main class="myfriends-main">
  <h1>여기는 친구목록</h1>

  <h3>내 친구</h3>
  <ul>
    {% for friend in friends %}
      {% if friend.from_user.id == request.user.id %}
        <li>{{ friend.to_user.nickname }} ({{ friend.to_user.username }})<br>
        마지막 로그인: {{ friend.to_user.last_login | date:"y년m월d일  H시i분"}}</li>
        <button onclick="deleteFriendConfirm('{{friend.to_user.id}}', '{{friend.to_user.nickname}}')">삭제</button>
      {% else %}
        <li>{{ friend.from_user.nickname }} ({{ friend.from_user.username }})<br>
        마지막 로그인: {{ friend.from_user.last_login | date:"y년m월d일  H시i분"}}</li>
        <button onclick="deleteFriendConfirm('{{friend.from_user.id}}', '{{friend.from_user.nickname}}')">삭제</button>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>대기중인 요청</h3>
  <ul>
    {% for friend in waitfriends %}
      <li>{{ friend.from_user.nickname }} ({{ friend.from_user.username }})</li>
      <form action="{% url 'friends:accept_friend' friend.from_user.id %}" method="post">
        {% csrf_token %}
        <button type="submit">수락</button>
      </form>
      <form action="{% url 'friends:reject_friend' friend.from_user.id %}" method="post">
        {% csrf_token %}
        <button type="submit">거절</button>
      </form>
    {% endfor %}
  </ul>

  <h3>내가 신청한 목록</h3>
  <ul>
    {% for myreq in myrequests %}
      <li>{{ myreq.to_user.nickname }} ({{ myreq.to_user.username }})</li>
      <form action="{% url 'friends:friend_request_cancel' myreq.to_user.id %}" method="post">
        {% csrf_token %}
        <button type="submit">신청취소</button>
      </form>
    {% endfor %}
  </ul>

</main>
{% endblock content %}
{% block js %}

{% if messages %}
  <script>
    {% for message in messages %}
      alert("{{ message }}");
    {% endfor %}
  </script>
{% endif %}

<script src="{% static "js/deletefriend.js" %}"></script>

{% endblock js %}
